/* Tag / Elememt Selector */
/* h1{
    background-color: pink;
    font-size: 50px;


}
ul{
    background-color: aquamarine;
} 
h2{
    background-color: aquamarine;


*/


/*Id Selector and # based selection*/

/* #first{
    background-color: blue;
}
#second{
    background-color: pink;
} */

/* Class Selector and  . based selection*/

/* .third{
    background-color: green;

}

.fourth{
    background-color: blueviolet;
} */

/* Group based selection */
/* h1, .fourth, #first{
    background-color: aqua;
} */


/* Colour Selection */
/* rgba means red green blue transparnet */
/* h1{
    background-color: rgba(101, 27, 49, 0.292);
}

h2{
    background-color: hsla(110,50%,50%,0.6);
} */

/* Hexadecimal form */

/* h1{
    background-color: #634997;
} */


/* Font */

/* px means pixels element */
/* pixels size cant be calculated ot depend screen size */

/* h1{
    font-size:80px;
}
ul{
    font-size: 20px;
}

html{
    font-size: 40px;
} */

/* h1{
    font-size: 3em;
} */
/* em means just up parents  */
/* if em ==2 then font size double parents size */
/* li{
    font-size: 2em;
} */


/* vw means full screen ki width ke % */
/* h2{
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:900;
    font-style: italic;
    
} */

h2{
    

    font-family: "Epunda Slab", serif;
    font-optical-sizing:auto;
    font-weight:500;
    font-style:normal;

}
/* li{
    font-size: 5vh; */
    /* /* font-size: 50%; */
