h1{
    background-color: aqua;
}

/* .classA{
    background-color: green;
}


#firstid{
    background-color: blue;
} */

h1{
    background-color: pink;
}

h2{
    background-color: aqua !important;
}