*{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    background-color: aqua;
    padding: 5px;
    gap: 5px;
}

.Box{
    height: 300px;
    width: 200px;
}

.first{
    background-color: orange;
}

.second{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.child{
    height: 150px;
    background-color: red;
    width: 200px;
}
